# Entorno y Configuración Sensible (¡CRÍTICO NO SUBIR A GITHUB!)
.env

# Archivos generados por scripts (outputs/)
outputs/

# Caché y archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales de Python
venv/
.venv/
env/
ENV/
bin/
lib/
include/

# Bases de datos SQLite locales (en caso de que se creen copias de prueba)
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
*.db

# Carpetas de configuración de editores de código (IDE)
.vscode/
.idea/
.project
.settings/